@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: auto;
    background: linear-gradient(90deg, #000000, #2e3a42, #032750);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 10rem;
    background-size: contain;
}

h1 {
    font-size: 6rem;
    text-shadow: 0 0 15px #ffff00;
    color: #00ffff;
    animation: title 1s infinite;
    font-family: "Delicious Handrawn", cursive;
    text-align: center;
    display: flex;
    justify-content: center;
}

@keyframes title {
    50% {
        text-shadow: 0 0 15px #00ffff;
        color: #ffff00;
    }
}

main {
    margin-top: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finder-character {
    width: 30rem;
    height: 1rem;
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: #2e3a42;
    padding: 1rem;
    color: #ffffff;
    font-family: "Delicious Handrawn", cursive;
}

.container-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
}

.card {
    width: 200px;
    height: 200px;
    background-color: #261b36;
    border: groove 3px #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
